@charset "utf-8";

*{margin:0;padding:0;-webkit-text-size-adjust:none;}
body,input{font:12px/1.2 나눔 바른 고딕,Nanum Barun Gothic,나눔 고딕,Nanum Gothic,맑은 고딕,Malgun Gothic,Dotum,돋음,verdana,sans-serif;color:#555555;}
@media screen and (-webkit-min-device-pixel-ratio:0){body,input{line-height:1.3;}}
@-moz-document url-prefix(){body,input{line-height:1.2;}}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object, textarea, a, img{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
select, input, table tr td, table tr th{vertical-align:middle;}
form, fieldset, abbr, acronym, input{border:0 none;}
img{border:0;vertical-align:top;}
address, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, th, var, button{font:12px/1.2 Malgun, "맑은고딕", Dotum, "돋음", verdana, sans-serif;color:#555555;}
ol, ul, li{list-style: none;}
a{text-decoration:none;color:#353535;}
a:hover{text-decoration:underline;}
label{cursor:pointer;}
button{cursor:pointer;border:0 none;background:none;}

/* html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

/* 화면숨김 */
hr, legend{position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;text-indent:-5000px;}
/*웹킷용 캡션 숨기기*/
caption{width:0;height:0;padding:0px;margin:0px;visibility:hidden;}

/* font */
font-face{
	font-family:'Nanum Barun Gothic';
	src: url('/fonts/NanumBarunGothic.eot');
	src: url('/fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NanumBarunGothic.woff') format('woff'),
		url('/fonts/NanumBarunGothic.ttf') format('truetype');
}
@font-face{
	font-family:'Nanum Barun Gothic Bold';
	src: url('/fonts/NanumBarunGothicBold.eot');
	src: url('/fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NanumBarunGothicBold.woff') format('woff'),
		url('/fonts/NanumBarunGothicBold.ttf') format('truetype');
}
/*@font-face{
	font-family:'Malgun';
	src: url('/fonts/malgun.eot');
	src: url('/fonts/malgun.eot?#iefix') format('embedded-opentype'),
		url('/fonts/malgun.woff') format('woff'),
		url('/fonts/malgun.ttf') format('truetype');
}
@font-face{
	font-family:'MalgunBold';
	src: url('/fonts/malgun.eot');
	src: url('/fonts/malgunbd.eot?#iefix') format('embedded-opentype'),
		url('/fonts/malgunbd.woff') format('woff'),
		url('/fonts/malgunbd.ttf') format('truetype');
}*/