@charset "utf-8";

/*Main Page*/
#contents{width:1024px; height:100%; margin:0 auto; overflow:hidden; /*border-left:solid 1px #F3F3F3;border-right:solid 1px #F3F3F3; padding:20px 0 50px 0;*/}

#contents #top{position:relative;z-index:2;width:1024px;height:405px;background-image:url(/images/main/top.png);background-repeat:no-repeat;background-position-x:center;background-position-y:center;background-size:cover;}

#contents #top_done{position:relative;z-index:2;width:1024px;height:255px;background-image:url(/images/done/3p_top.png);background-repeat:no-repeat;background-position-x:center;background-position-y:center;background-size:cover;}

#contents #description{position:relative;z-index:2;width:1024px;height:133px;padding-top:50px;background:url(/images/main/middle.png) no-repeat;text-align:center;}
#contents #description div{color:#fff;font-size:17.05px;line-height:24.85px;}

#contents #description_done{position:relative;z-index:2;width:1024px;height:274px;padding-top:69px;background-image:url(/images/done/3p_middle.png);text-align:center;}
#contents #description_done div{color:#fff;font-size:17.89px;line-height:25.89px;}
#contents #description_done div #min_text{font-size:16.1px;line-height:22.1px;}
#contents #description_done div #emphasize{width:680px;margin:14px auto 23px auto;font-size:24.95px;line-height:34px;background:#fff;color:#005096;}
#contents #description_done div img{margin:4px 10px 27px 10px;}

#contents #submit_btn{display:block;margin:25px auto 60px auto;cursor:pointer;}

#contents #person_img{position:absolute;z-index:1;width:110.44px;height:110.44px;left:50%;top:197px;margin-left:-55.22px;background:#ddd;background-repeat:no-repeat;background-position-x:center;background-position-y:center;background-size:cover;}

/*Layer*/
#pop_back{display:none;position:fixed;z-index:3;width:100%;height:100%;left:0;top:0;background:rgb(0,0,0);background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";}

#submit_pop{display:none;position:fixed;z-index:5;width:460px;height:516px;left:50%;top:50%;margin-left:-230px;margin-top:-258px;color:#fff;font-size:26.44px;text-align:center;background-image:url(/images/submit/yellow_circle_bg.png);background-repeat:no-repeat;}

#submit_pop #submit_title{margin-top:37px;margin-bottom:11px;}

#submit_pop #close_btn{position:absolute;right:15px;top:15px;cursor:pointer;}

#submit_pop #input{width:340px;margin:0 auto 13px auto;}

#submit_pop #input input{width:300px;height:49px;padding:0px 20px;line-height:49px;font-size:20px;color:#575757;background:none;background-image:url(/images/submit/input.png);background-repeat:no-repeat;}

#submit_pop #input input::-webkit-input-placeholder{color:#b6b6b6;}
#submit_pop #input input:-moz-placeholder{/* Firefox 18- */color:#b6b6b6;}
#submit_pop #input input::-moz-placeholder{/* Firefox 19+ */color:#b6b6b6;}
#submit_pop #input input:-ms-input-placeholder{color:#b6b6b6;}

#submit_pop #input input.err_select::-webkit-input-placeholder{color:red;}
#submit_pop #input input.err_select:-moz-placeholder{/* Firefox 18- */color:red;}
#submit_pop #input input.err_select::-moz-placeholder{/* Firefox 19+ */color:red;}
#submit_pop #input input.err_select:-ms-input-placeholder{color:red;}

#submit_pop #address_title{margin-bottom:10px;}
#submit_pop #select{width:340px;height:49px;margin:0 auto 99px auto;}
#submit_pop #select .select_outer{width:113px;height:49px;overflow:hidden;float:left;}
#submit_pop #select select{width:135px;height:49px;*height:35px;box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;line-height:49px;*line-height:35px;vertical-align:middle;font-size:17px;color:#b6b6b6;font-family:나눔바른고딕,NanumBarunGothic,나눔고딕,NanumGothic;background:none;background-image:url(/images/submit/select.png);background-repeat:no-repeat;padding:0px 0px 0px 10px;*padding:0px 0px 14px 10px;border:0;-webkit-appearance:none;}
#submit_pop #person_description{height:17.89px;margin-bottom:15.11px;font-size:17.89px;color:#342700;}
#submit_pop #person_description span{color:#9f7700;}
#person_pop{display:none;position:fixed;z-index:4;width:85px;height:84px;left:50%;top:50%;margin-left:-43.5px;margin-top:30px;background-image:url(/images/submit/profile_icon.png);background-repeat:no-repeat;background-position-x:center;background-position-y:center;background-size:cover;}

#sub_topimg{width:100%; height:100px; background:url(/images/sub_img_bg.jpg) repeat-x; overflow:hidden;}
#sub_topimg .sub_center_banner{width:1000px; height:100px; margin:0 auto;}

/*하단(copyright)*/
#footer{width:100%;height:60px;border-top:solid 1px #0376c5;padding-top:20px;font-size:12.48px;color:#0e5ebb;text-align:center;}