body.pushable {
  background-color: white !important;
}

.ui.segment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ui.segment.masthead {
  background-image: url('/static/images/background-graph.png');
  color: white;
  min-height: 400px;
  padding: 1em 0em;
  margin-top: 2em;
  margin-bottom: 0em;
  border-radius: 0px;
}

#logo {
  position: absolute;
  top: -1.5em;
  left: 0em;
  right: 0em;
}

#logo > .logo-text {
  font-size: 1.2em;
  z-index: 12;
  display: inline-block;
  position: absolute;
  top: 1.7em;
  left: 0;
  right: 0;
}

#logo > .logo-circle {
  z-index: 10;
}

.ui.segment.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.ui.segment.introduction, .ui.segment.result {
  background-image: url('/static/images/background-intro.png');
  background-position: center center;
  background-color: white;
  color: white;
  height: 180px;
  border-bottom: none;
}

.ui.segment.result {
  background-color: #07387C;
  height: 280px;
}

.ui.segment.result img.image-profile {
  border-radius: 10em;
  width: 9em;
  height: 9em;
  position: absolute;
  top: -5.5em;
  left: 0em;
  right: 0em;
  margin: 0 auto;
}

.ui.segment.result p.assembly-profile {
  margin-top: 5em;
}

.ui.segment.result p.result-message {
  display: inline-block;
  padding: 0.5em;
  background-color: white;
  color: black;
}

.ui.segment.segment-button {
  min-height: 200px;
  border-top: none;
}

/*.ui.segment.masthead .ui.form {
  margin-top: 2em;
  padding: 0rem 10rem;
}

@media (max-width: 768px) {
  .ui.segment.masthead .ui.form {
    padding: 0rem 1rem;
  }
}

.ui.segment.masthead .ui.form .fields .field > label {
  text-align: left;
  color: white;
}

.ui.segment.quote {
    background-color:#005096;
    color: white;
    position: relative;
}

.ui.segment.quote::after {
    left: 45%;
    right: auto;
    content: " ";
    position: absolute;
    bottom: -11px;
    border-bottom: 60px solid #005096;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-radius: 100%;
}

.ui.segment.quote .row > .column {
  padding-top: 5rem;
  padding-bottom: 5rem;
}*/

footer.ui.footer {
  color: #025fb1;
}

/* UI Modal CSS */
.ui.modal {
  background-color: #ffc000;
}

/*@media only screen and (min-width: 1200px) {*/
  .ui.small.modal {
  	width: 520px;
  	margin: 0px 0px 0px -360px;
  }
/*}*/

@media only screen and (max-width: 767px) {
  .ui.small.modal {
    width: 80%;
  }
}

.ui.modal .ui.content {
  background-color: #ffc000;
  color: white;
}

.ui.modal h2.header {
  width: 100%;
  color: white;
  text-align: center;
}

.ui.modal img.image-profile {
  max-width: 300px;
  max-height: 300px;
}
