<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Congress Report</title>
  
  <link rel="stylesheet" href="/static/vendor/semantic-ui/dist/semantic.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body class="pushable">
  <section class="push">
    <div class="ui inverted center aligned segment masthead">
      <span id="logo">
        <span class="logo-text">Congress<br>Report</span>
        <img src="/static/images/logo-circle.png" alt="Congress Report Logo" class="logo-circle">
      </span>
      <div class="ui text container">
        <img src="/static/images/step.png" alt="이메일 등록 3단계">
        <h2 class="ui inverted header">우리동네 국회의원 통지표를 받아보세요.</h2>
      </div>
    </div>
    <div class="ui vertical segment introduction">
      <div class="ui grid">
        <div class="center aligned row">
          <div class="column">
            <p>우리동네 국회의원의 한 주가 궁금하다면 국회 성적표에서 메일을 받아보세요.<br/>
              내가 받아보고싶은 국회의원을 선택해 이번 달에 발의된 법안,<br/>통과된 법안, 국회의원의 국회 출석률까지 알 수 있습니다.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="ui vertical segment segment-button">
      <div class="ui container grid">
        <div class="center aligned row">
          <div class="column">
            <button id="register" class="ui massive primary button"><strong>메일링</strong> 신청하기</button>
          </div>
        </div>
      </div>
    </div>
    <footer class="ui vertical center aligned segment footer">
      <p>Some Rights Reserved | Code for Seoul</p>
    </footer>
  </section>

  <!-- Start - Register Modal -->
  <div class="ui small modal">
    <div class="ui content grid">
      <div class="row">
        <h2 class="ui header">메일링 신청하기</h2>
        <div class="ui container form">
          <div class="field">
            <input name="username" placeholder="이름" type="text" class="username">
          </div>
          <div class="field">
            <input name="email" placeholder="이메일" type="email" class="email">
          </div>
        </div>
      </div>
      <div class="row">
        <h2 class="ui header">알고 싶은 의원 지역구</h2>
        <div class="ui container form">
          <div class="three fields">
            <div class="field">
              <!-- <label>시/도</label> -->
              <div id="cities" class="ui fluid search selection dropdown">
                <input name="cities" type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">시/도</div>
                <div class="menu">
                  {% for city in cities | selectattr("name") %}
                    <div class="item" data-value="{{ city['name'] }}">{{ city['name'] }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="field">
              <!-- <label>시/군/구</label> -->
              <div id="locals" class="ui fluid search selection dropdown">
                <input name="country" type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">시/군/구</div>
                <div class="menu">
                </div>
              </div>
            </div>
            <div class="field">
              <!-- <label>읍/면/동</label> -->
              <div id="towns" class="ui fluid search selection dropdown">
                <input name="country" type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">읍/면/동</div>
                <div class="menu">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row centered aligned">
        <!-- TODO: [CONGRESS-REPORT] use a local img for default profile image -->
        <img class="ui medium bordered image image-profile" src="http://semantic-ui.com/images/wireframe/white-image.png">
      </div>
      <div class="row centered aligned">
        <button id="signup" class="ui secondary button">
          <!-- TODO: [CONGRESS-REPORT] error with loading icons -->
          <!-- <i class="icon user"></i> -->
          신청하기
        </button>
      </div>
    </div>
  </div>
  <!-- End - Register Modal -->

  <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/static/vendor/semantic-ui/dist/semantic.min.js"></script>
  <script src="/static/main.js"></script>
</body>
</html>
